.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage {
  background-image: url("/public/assets/img/hair-cat-header@3x.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img.hairCat-header {
  width: 100%;
  height: 100%;
  margin: 0 0 80px;
  /* padding: 30px 600px 120px 80px; */
  object-fit: contain;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5f5f4;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer ul {
  list-style: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  width: 600px;
  height: 200px;
  margin: 104.6px 0 22px;
  font-size: 82px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--pine-green);
}

.title,
.description {
  text-align: left;
  color: #0c3c3d;
}

.description {
  line-height: 26px;
  font-size: 18px;
  color: #0c3c3d;
  width: 400px;
  height: 80px;
  margin: 22px 190px 38px 10px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: var(--pine-green);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, Montserrat, Helvetica;
}

.button {
  background: #34d1d1;
  color: white;
  border-radius: 49.5px;
  width: 200px;
  height: 48px;
  border: none;
  margin: 38px 390px 0 10px;
  box-shadow: 0 10px 30px -20px rgba(0, 0, 0, 0.5);
  padding: 17px 37px 16px 38px;
}

.button:hover {
  background: #0c3c3d;
  transition: 0.2s;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.grid title {
  width: 361px;
  height: 48px;
  margin: 0 243px 60px 244px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #0c3c3d;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
